
<div class= "card">
<div class="form-group" style="width :50em;">
    <%= form_with model: @list, local:true do |form| %>
    
    <div class= "text-weight-bold text-dark"><%= form.label :name %></div>
    <span> <%= form.text_field :name, class: "form-control" %> </span>
  </div>  
   <div class="form-group" style="width :50em;">
        <%= form.label :description %> 
        <%= form.text_area :description, class: "form-control" %>
</div>
<div>
    <span><%= form.submit value="Submit", class: "btn btn-outline-dark" %> </span>   


 <% end %>