<h1 class= 'text-weight-bold text-center'><%= @list.name %></h1>



<p class= "lead text-center"><%= @list.description %></p>

<% if @list.movies.empty? %>
    <p class="text-weight-bold text-warning bg-dark text-center"> You haven't added any movies yet!</p>
<% else %>
<table class="table table-hover" >
    <thead class="thead-dark">
        <tr>
            <th>Movie Title</th>
            <th>Release Date</th>
            <th>Runtime </th>
            <th></th>
        </tr>
    </thead>
    <% @list.movies.ordered_by_title.each do |movie| %>
        <tbody>
            <tr>
                <td><%= link_to (movie.title), movie_path(movie), class: 'text-dark' %></td>
                <td><%= movie.release_date.strftime("%m/%d/%Y") %></td>
                <td><%= movie.runtime %> minutes</td>
            </tr>
        </tbody>
    <% end %>
 </table>
<% end %>







<p class="text-center"><%= link_to "Edit List", edit_list_path(@list), class: 'btn btn-outline-dark btn-lg'%></p>
<p class="justify-content-center"><%= button_to "Delete list", @list, method: :delete, class: "btn btn-outline-danger btn-lg mx-auto d-block" %></p>

