
<div class="form-group" style="width :50em;">
    <%= form_with model: @movie, local:true do |form| %>
    
    <div class= "text-weight-bold text-dark"><%= form.label :title %></div>
    <span> <%= form.text_field :title, class: "form-control" %> </span>
  </div>  
   <div class="form-group" style="width :50em;">
        <%= form.label :genre %> 
        <%= form.text_field :genre, class: "form-control" %>
    </div>
    <div class="form-group" style="width :50em;">
   
        <%= form.label :runtime %> 
        <%= form.text_field :runtime, type: 'number', class: "form-control" %>
    </div>

    <div class="form-group" style="width :50em;"> 
        <%= form.label :release_date %> 
        <%= form.text_field :release_date, type: 'date', class: "form-control" %>
    </div>
   <div class="form-group" style="width :50em;"><%= form.collection_select :list_name, List.all, :name, :name %> 
   </div>

    <%= form.label "Review:" %><br>

   <%= form.fields_for :reviews do |reviews| %>
    <div class="form-group" style="width :50em;">
        <%= reviews.label :rating %>
        <%= reviews.text_field :rating, type: 'number', class: "form-control" %>
    </div>
    <div  class="form-group" style="width :50em;">
        <%= reviews.label :content %>
        <%= reviews.text_area :content, class: "form-control" %>
    </div>

    <div class="form-group" style="width :50em;"><%= reviews.collection_select :user_id, User.all, :id, :name %> 

    <% end %>
         
      <span><%= form.submit value="Submit", class: "btn btn-outline-dark" %> </span>   


 <% end %>
