<h1 class="display-4 text-primary">I am the Index</h1>

<%= form_tag(movies_path, method: :get) do %>

    <div class= "form-inline pb-3">
        
        <%= text_field_tag 'search', nil, placeholder: 'Search By Title' %>
        <%= submit_tag ("Search"), class: 'btn btn-outline-dark ml-3' %>
        </div>
    <% end %>
<ul>
<% @movies.each do |movie|%>
<li>
<%= link_to movie.title, movie_path(movie) %>
</li>
<% end %>
</ul><br>


<%= link_to "Add a Movie to your Collection", new_movie_path%>