<br>
<div class="d-flex justify-content-around row-hl">
    <div class="card border-dark" style="width: 25rem;" style="display:flex">
        <img class= "card-img-top" src=<%= (@movie.poster)  %>>
            <div class="card-content text-center">
                <div class="h5 card-title text-dark"><%= @movie.title %></div>
                    <h6> Genre(s):<%= @movie.genre %></h6>
                    <h6>Actors: <%= @movie.actors %> </h6>
                    <h6>Director: <%= @movie.director %> </h6>
                    <h6>Plot:</h6>
                    <p class="text-left"><%= @movie.plot %></p>
                    
                </div>
            
                <div class="card-footer text-muted text-center bg-dark">


                  
                        <%= form_with model: @movie, local:true do |form| %>
                        <%= form.collection_select :list_ids, current_user.lists, :id, :name, :include_hidden => false %> 
                        <%= form.submit "Add to List", class: 'btn btn-warning btn-sm'%>
                        <% end %>
                    

                        <% @movie.lists.each do |list|%>
                        <% if list.user == current_user %> 
                        <p class= "text-light">Watch List: <%= link_to list.name, list_path(list), class: "text-warning" %></p>
                        <% end %>
                       <% end %>
                    

                    
                </div>
            </div>
    
 

  <div class="p-4 item-hl">
        <%if !@movie.reviews.present? %>
             <p class="text-center"> Be the first to review this film! </p>
        <%else%> 

            <div class="card border-dark mb-4" style="width: 25rem;" style="display:flex"> 
                    <p class="card-header text-center bg-dark text-warning">Cinephile Rating: <%= @movie.reviews.average(:rating) %> <br>IMDB Rating: <%= @movie.imdbRating%></p>
                    <div class= "card-body text-center">
                        <h6 class= "card-title">Movie Reviews for <%= @movie.title %></h6>
                        <ul class="list-group list-group-flush">
                            <% @movie.reviews.each do |review|%>                            
                            <li class="list-group-item"><%= stars(review.rating) %> <br> <%= review.content%><br>Reviewed By: <%= review.user.username %></li>
                
                            <% end %>
                    </div>
                <div class= "card-footer text-center bg-dark text-warning">
                    <div> <%=link_to "View all Reviews", movie_reviews_path(@movie), class: 'text-warning'%></div>
                </div>
            </div>
        <% end %>  

 
        
    <div class= "font-weight-bold text-dark h5 text-center pb-3"> Review <%= link_to @movie.title, new_movie_review_path(@movie), class: 'text-warning'%>  </div>

        
 </div>

 