<h1>I am the show page </h1>

<div class="card" style="display:flex">

    <div class="card-content">
        <h4 style="margin: 0 0 20px 0"><%= @movie.title %></h4>
            <h5> Genre(s):<%= @movie.genre %></h5>
            <h6>Release Date: <%= @movie.release_date %></h6>
            <h6>Runtime: <%= @movie.runtime %> minutes</h6>
            <p>  View Movie Reviews: <%= link_to @movie.reviews.count, movie_reviews_path(@movie) %> </p>
           
            <h6> Review <%= link_to @movie.title, new_movie_review_path(@movie)%>  </h6>
        
    </div>
    <div class="card-footer">
        
         <div>Watch List: <%= link_to @movie.list.name, list_path(@movie.list) if @movie.list %></div>
    </div>
  </div>

  








  <div><%= link_to "edit movie", edit_movie_path(@movie) %></div>
  <%= button_to "delete movie", @movie, method: :delete %><br>


  <%= link_to "View all Movies", movies_path%>
  
      