<div class="card" style="display:flex">
<div class="h3 card-header text-dark"><%= @movie.title %></div>
    <div class="card-content">
            <div class="card-img-top"> 
                <img src=<%= (@movie.poster) %>>
            </div>
            <h5> Genre(s):<%= @movie.genre %></h5>
            <h6>Release Date: <%= @movie.release_date %></h6>
            <h6>Runtime: <%= @movie.runtime %> minutes</h6>
            <p>  View Movie Reviews: <%= link_to @movie.reviews.count, movie_reviews_path(@movie) %> </p>
           
            <h6> Review <%= link_to @movie.title, new_movie_review_path(@movie)%>  </h6>
        
    </div>
    <div class="card-footer">


        <% if !@movie.lists.present? %>
        <%= form_with model: @movie, local:true do |form| %>
        <%= form.collection_select :list_ids, List.all, :id, :name %> 
        <%= form.submit "Add to List"%>
        <% end %>
        <% else %>

        <% @movie.lists.each do |list|%>
        <p>Watch List: <%= link_to list.name, list_path(list) %></p>
        <% end %>
        <% end %>
        
        
                

    
  </div>

  








  <div><%= link_to "edit movie", edit_movie_path(@movie) %></div>
  <%= button_to "delete movie", @movie, method: :delete %><br>


  <%= link_to "View all Movies", movies_path%>
  
      