<% if logged_in? %>
<div class="container">
  <div class="row">
    <div class="col">
    <% if current_user.avatar.attached? %>
        <img class="img-thumbnail rounded border border-warning ml-5 mt-4" style="width: 200px; height 200px" src=<%= url_for(current_user.avatar)%>>
    <%else%>
        <div class=" ml-5 mt-4"><%= image_tag('avatar_ninja.png')%></div>
       
    <% end %>
    </div>
    <div class="col">
        <div class= "card border-dark mt-5" style="width: 25rem;" style="display:flex">
        <div class= "card-header bg-dark text-warning h3 text-center">Your Info:</div>
        <div class="card-content text-center">
        <ul class= "list-group list-group-flush">
            <li class="list-group-item text-center text-dark">Username: <%= current_user.username %></li>
            <li class="list-group-item text-center text-dark">Email: <%= current_user.email %></li>
            <li class="list-group-item text-center text-dark">Number of Reviews:<%= current_user.reviews.count %></li>
        </ul>
        </div>
        <div class= "card-footer text-center bg-dark text-warning">
                    <div> <%=link_to "Edit Profile", edit_user_path(current_user), class: 'text-warning'%></div>
        </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col">
    <div class= "card border-dark mt-5 bg-dark text-warning" style="width: 20rem;" style="display:flex">
        <div class= "card-header bg-dark text-warning h3 text-center"><h4>Watch Lists:</h4></div>
            <div class="card-content text-center">
                <ul class= "list-group list-group-flush">
                    <% current_user.lists.each do |list| %>
                        <li class="list-group-item"><%= link_to list.name, list_path(list), class:'text-dark'%></li>
                            <% end %>
                <ul>
        </div>
        <div class= "card-footer text-center bg-dark text-warning">
                    <div> <%=link_to "View all Lists", lists_path, class: 'text-warning'%></div>
        </div>
    </div>
    </div>
    <div class="col">
        <div class= "card border-dark mt-5" style="width: 25rem;" style="display:flex">
        <div class= "card-header bg-dark text-warning h3 text-center">Follows:</div>
        <div class="card-content text-center">
        <ul class= "list-group list-group-flush">
            <li class="list-group-item text-center text-dark">Followers: </li>
            <li class="list-group-item text-center text-dark">Following: </li>
        </ul>
        </div>
    </div>
  </div>
  <% else %>

  <h1 class= 'display-4 text-danger text-center' > You're not Logged in! </h1>

  <% end %>
