<h1 class= "display-4 text-dark text-center">Reviews for: <%= link_to @movie.title, movie_path(@movie), class: 'text-warning'%></h1>

<% @movie.reviews.each do |review| %>
<div class="d-flex justify-content-center flex-wrap row-hl">
<div class="p-4 item-hl">
<div class="row">
<div class="card-deck">
<div class="card mb-4 border-dark" style="width: 25rem;" style="display:flex"> 
     <p class="card-header text-center bg-dark"><%= stars(review.rating) %></p>
     <div class= "card-body text-center">
          <p class="lead"><%= review.content %> </p>
       <%= link_to "Edit Review", edit_movie_review_path(@movie, review), class: 'btn btn-outline-dark' %> <br>
       <%= button_to "Delete Review", movie_review_path(@movie, review), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-outline-danger' %>
     </div>
     <div class= "card-footer text-center bg-dark text-warning">
                    <div> Reviewed by: <%= review.user.username %></div>
     </div>
</div>
</div>
</div>
</div>
<% end %>

 








